* {
    margin: 0px;
    padding: 0px;
}

.block {
    height: 400px;
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    
}

.txt {
    color: #828282;
    font: 600 16px 'Roboto';
    padding: 28px 0px 0px 45px;
}

.txt2 {
    font: 500 40px 'Roboto';
    color: #0B1354;
    margin: 4px 0px 0px 45px;
}

.txt3 {
    font: 400 14px 'Roboto';
    color: #4F4F4F;
    margin: 4px 0px 0px 45px;
}

.hr {
    height: 2px;
    width: 100%;
    background-color: #468fd7;
    margin-top: 27px;
}

.block2 {
    display: flex;
}

.img1 {
    background-image: url(.//Group\ 2280.png);
    margin: 0px 0px 4px 2px;
    height: 278px;
    width: 278px;

}
.img2{
    background-image: url(./Rectangle\ 1339\ \(1\).png);
    margin: 33px 0px 0px 13px;
    height: 8px;
    width: 21px;

}
.txt4{
    font: 400 12px 'Inter';
}
.position1{
     margin: 29px 0px 0px 9px;
}
.img3{
    background-image: url(./Rectangle\ 1339\ \(2\).png);
    height: 8px;
    width: 21px;
    margin: 17px 0px 0px 13px;
}
.position2{
    margin: 17px 0px 0px 9px;
}
.img4{
    background-image: url(./Rectangle\ 1340.png);
    height: 8px;
    width: 21px;
    margin: 17px 0px 0px 13px;
}